* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

  @keyframes animacion {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
  font-family: 'Gentium Book Plus'; }

header nav {
  background: radial-gradient(at bottom, #650616, #180a0a);
  font-size: 20px; }

.logo-principal img {
  border-radius: 100px;
  margin: 5px;
  animation-name: animacion;
  animation-duration: 2s; }

.seccion-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 0px;
  margin-bottom: 30px;
  background-image: url("../imagenes/harina_fondo_1.jpg");
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat; }
  .seccion-1 p {
    text-align: center;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px; }
  .seccion-1 h1 {
    font-family: 'Great Vibes';
    font-size: 50px;
    color: white; }

.info {
  width: 90%;
  margin: auto;
  margin-top: 0;
  font-size: 16px; }
  .info h2 {
    text-align: center; }
  .info .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    /* espacios entre columnas (para elementos hijos) */
    margin-top: 40px;
    border-radius: 10px; }
  .info img {
    width: 100%;
    border-radius: 10px;
    margin: auto; }
  .info .text {
    width: 100%;
    margin-top: 30px;
    text-align: center; }

.seccion-mapa {
  color: white;
  margin-top: 20px;
  background-color: rgba(97, 81, 51, 0.806); }
  .seccion-mapa .locales {
    width: 60%;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 60px);
    grid-template-areas: 'boedo palermo'
 'puerto sant'
 'recoleta belgrano'; }
  .seccion-mapa .sucursal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .seccion-mapa .boedo {
    grid-area: boedo; }
  .seccion-mapa .palermo {
    grid-area: palermo; }
  .seccion-mapa .puerto {
    grid-area: puerto; }
  .seccion-mapa .sant {
    grid-area: sant; }
  .seccion-mapa .recoleta {
    grid-area: recoleta; }
  .seccion-mapa .belgrano {
    grid-area: belgrano; }

.seccion-2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px; }

.mapa {
  transition-property: all;
  transition-duration: 500ms; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gentium Book Plus';
  color: white;
  font-size: 16px;
  background-color: black; }
  footer .copy {
    margin-top: 5px; }
  footer .redes ul {
    display: flex;
    margin: 10px; }
  footer .redes li {
    margin: 5px; }
    footer .redes li a {
      color: white;
      text-decoration: none; }

/* contacto*/
.main-contacto {
  font-size: 18px; }
  .main-contacto .tc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px; }
    .main-contacto .tc .titulo-c {
      margin-bottom: 10px; }
  .main-contacto .form-contacto {
    color: white;
    max-width: 470px;
    margin: auto;
    background: radial-gradient(at bottom, #650616, #180a0a);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center; }
    .main-contacto .form-contacto textarea {
      height: 100px; }
    .main-contacto .form-contacto textarea, .main-contacto .form-contacto input {
      width: 100%; }
    .main-contacto .form-contacto .item-contacto {
      margin-top: 5px; }

/* final contacto */
/* registrate */
.titulo-registrate {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px; }
  .titulo-registrate .formulario-registrate {
    margin: auto;
    max-width: 900px; }

/* final registrate */
/* pedir online */
.delivery .titulo-delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

.delivery .form-pedir {
  max-width: 470px;
  margin: auto;
  margin-bottom: 10px;
  text-align: left; }
  .delivery .form-pedir textarea, .delivery .form-pedir .info-pedido {
    margin-top: 5px;
    width: 100%; }
  .delivery .form-pedir .direccion {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background: radial-gradient(at bottom, #650616, #180a0a);
    text-align: center; }
  .delivery .form-pedir .info-extra {
    height: 30px; }

.delivery .opciones-pedir .boton {
  margin-top: 10px; }

/* final pedir online */
/* media query (730px) */
@media (min-width: 730px) {
  .menu-secciones ul {
    display: flex;
    column-gap: 50px; }
  .menu-secciones ul li {
    font-size: 18px; }
  .menu-info .navs {
    opacity: 0.8; }
  .navs {
    transition: all 500ms ease-in-out; }
    .navs:hover {
      opacity: 1; }
  .info {
    margin-top: 30px; }
  .info .item {
    flex-wrap: nowrap; }
  .info .img {
    width: 30%; }
  .info .text {
    flex: 1;
    text-align: left; }
  .impar .text {
    margin-left: 30px; }
  .impar .img {
    order: 2; }
  .text p {
    font-size: 18px; }
  .item:hover {
    background-color: #dad5d5; }
  .item {
    transition: all;
    transition-duration: 1s; }
  .mapa:hover {
    width: 90%;
    height: 580; }
  .locales {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 60px);
    grid-template-areas: 'boedo palermo puerto'
 'sant recoleta belgrano'; }
  .mapa {
    width: 70%;
    height: 460px; }
  /* Delivery */
  .form-pedir {
    max-width: 900px; }
  /* Fin Delivery */
  /* Contacto */
  .form-contacto {
    max-width: 900px; }
  /* Fin Contacto */ }
